body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.figtree-font {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#fpsCounter {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.card-overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.version {
  color: #6c757d;
  font-size: 14px;
  margin-top: 5px;
}

.description {
  font-size: 14px;
  margin: 15px 0;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.github {
  background-color: #24292e;
  color: white;
}

.npm {
  background-color: #cb0003;
  color: white;
}

.cdn {
  background-color: #fc5728;
  color: white;
}

@media (max-width: 768px) {

  ul li:nth-of-type(6),
  ul li:nth-of-type(7),
  ul li:nth-of-type(8) {
    display: none;
  }
}